/* FORM STYLES */

form {
	outline: 0;
	width: 80%;
	color: $bg-body;
	margin: auto;
	text-align: left;
	max-width: 600px;
}

fieldset {
	border: none;
}

input[type="text"],
input[type="email"],
textarea,
button {
	width: 100%;
	font-size: 1.25em;
	height: auto;
	margin-bottom: 20px;
	border: 1px solid $black;
	border-radius: 4px;
	transition: background-color .5s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: none;
	background-color: darken($white, 10%);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
	font-size: .7em;
	text-align: right;
}

legend {
	margin-bottom: 10px;
}

button:hover {
	background-color: $hover;
}