/* FORM STYLES */

form {
	outline: 0;
	width: 80%;
	color: $bg-body;
	margin: auto;
	text-align: left;
	max-width: 600px;
}

fieldset {
	border: none;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	font-size: 1.25em;
	height: auto;
	margin-bottom: 20px;
	transition: background-color .5s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: 1px solid $bg-body;
	background-color: #ddd;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
	font-size: .7em;
	text-align: right;
}

legend {
	margin-bottom: 10px;
}